<h2>Fyber Mobile Offer API</h2>

<%= form_tag offers_path, method: :get do %>
  <%= label_tag "uid" %>
  <%= text_field_tag "uid" %>

  <%= label_tag "pub0" %>
  <%= text_field_tag "pub0" %>

  <%= label_tag "page" %>
  <%= text_field_tag "page" %>

  <%= submit_tag "Find Offers" %>
<% end %>
